@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  margin: 0;
}

.header {
  font-size: 0;
  width: 1170px;
  height: 93px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin: ;
  align-content: center;
}

.header__link {
  color: #868686;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 20px;
  transition: background-color .2s, color .2s linear;
  font-family: 'Lato', sans-serif;
  font-size: 13.5px;
}

.header__link:hover {
  border-radius: 2px;
  background-color: #ffbb42;
  color: #fff;
}

/*Main*/
.main {
  margin: 0 auto;
  height: 100vh;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.banner {
  height: 590px;
  width: 100%;
  background-color: #709dca;
}

.request {
margin: 0 0 66px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slogan {
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

h1.slogan {
  padding: 110px 0 0 0;
  font-weight: 700;

}

h2.slogan {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 40px;
}

.input__box {
  width: 281px;
  height: 46px;
  margin: 0 10px 0 0;
  border-radius: 3px;
  border-style: none;
}

.input__box::placeholder {
  color: #212529;
  opacity: 0.4;
  font-size: 13px;
}

.input__box:focus {
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 1px;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.2);
}

.quote {
  font-size: 14px;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  width: 211px;
  height: 46px;
  border: none;
  background-color: #ffbb42;
}
